<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.snapchatclone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp">
        <activity
            android:name=".ViewSnapActivity"
            android:exported="false"
            android:label="Friends Snaps"/>
        <activity
            android:name=".notifications"
            android:exported="false"
            android:label="Notifications"/>
        <activity
            android:name=".ChooseUserActivity"
            android:exported="false"
            android:label="SelectUsers"/>
        <activity
            android:name=".Snaps"
            android:exported="false"
            android:label="Snaps"/>
        <activity
            android:name=".chatActivity"
            android:exported="false"
            android:label="Chats"/>
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="SnapchatClone">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="LogOut"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="SnapchatClone"/>
    </application>

</manifest>